body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Slab', serif; 
    background: #a063eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 3rem;
}

h1{
    color: white;
}

input{
    width: 150px;
    height: 100px;
    font-size: 4rem;
    border-radius: 5px;
    background: black;
    color: white;
    border-style: none;
    cursor: pointer;
    margin-bottom: 5px;
}

input:focus{
    outline: none;
}
